node_modules
build
data/resumes
data/cover_letters
data/job_queue.json
data/jobs_applied.json
data/resume.md
data/browser-profile/
data/extra_context.json
data/job_criteria.json
.ds_store
.DS_Store
.idea
.vscode
*.log
*.env
